.user {
  flex: 4;
  padding: 20px;
  &__titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__addButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }
  &__container {
    display: flex;
    margin-top: 20px;
  }
  &__display {
    flex: 1;
    padding: 20px;
    @include boxShadow;
  }
  &__displayTop {
    display: flex;
    align-items: center;
  }
  &__displayTopImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__displayTopTitle {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  &__displayTopUsername {
    font-weight: 600;
  }
  &__displayTopUserJobTitle {
    font-weight: 300;
  }
  &__displayBottom {
    margin-top: 20px;
  }
  &__dispalyBottomTitle {
    font-size: 14px;
    font-weight: 600;
    color: rgb(160, 157, 157);
  }
  &__displayBottomInfo {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: rgb(71, 70, 70);
  }
  &__dispalyBottomIcon {
    font-size: 16px !important;
  }
  &__displayBottomInfoTitle {
    margin-left: 10px;
  }
  &__update {
    flex: 2;
    padding: 20px;
    @include boxShadow;
    margin-left: 20px;
  }
  &__updateTitle {
    font-size: 24px;
    font-weight: 600;
  }
  &__updateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  &__updateFormItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  &__updateFormItem > label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  &__updateFormInput {
    border: none;
    width: 250px;
    border-bottom: 1px solid #ccc;
  }
  &__updateFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__updateFormRightUpload {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__upadteFormRightImage {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
  }
  &__FormRightIcon {
    cursor: pointer;
  }
  &__updateButton {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #3b22f6;
    color: white;
    font-weight: 600;
  }
}
